<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PolEasy">
			 <listeners>
		        <listener class-name="api.utilities.ExtentReportManager" />
		     </listeners>
  <test thread-count="5" name="PolEasy">
    <classes>
      <class name="api.test.Customertest"/>
    </classes>
  </test> <!-- PolEasy -->
</suite> <!-- PolEasy -->
